#empty-bookshelf {
  width: 300px;
  height: 300px;
}
#not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.links {
  color: #6d071a;
}
.links:hover {
  color: navy;
}
